<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程信息管理</title>
    <style>
        .module{
            margin-top: 15px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 5px;
            font-style: italic;
        }
        .uneditable{
            background-color: #d1d1d1;
        }
    </style>
</head>
<body>
<div class="module" id="logout">
    <!-- TODO -->
    <button>退出登录</button>
</div>
<div class="module" id="importAndExport">
    <!-- TODO -->
    <button>课程导出</button>
    <input type="file">
    <button>课程上传</button>
</div>
<div class="module" id="courseList">
    <div id="select">
        <label>课程名称 </label><input placeholder="课程名称关键字" v-model="qo.name"><br/>
        <label>授课教师 </label><input placeholder="授课教师关键字" v-model="qo.teacher"><br/>
        <label>开课时间 </label><input type="date" placeholder="开课时间-起" v-model="qo.classStartTime">
        <input type="date" placeholder="开课时间-止" v-model="qo.classEndTime"><br/>
        <input type="checkbox" v-model="qo.isFinished">显示已结束的课程<br/>
        <button @click="select">查询</button>
        <button @click="clear">重置</button>
    </div>
    <p>*双击单元格可修改课程信息</p>
    <p>*灰色单元格不可修改</p>
    <table border="2">
        <thead>
            <tr>
                <th class="check" hidden="hidden"><input type="checkbox" @change="checkAll">全选</th>
                <th>ID</th>
                <th>名称</th>
                <th>教室</th>
                <th>授课老师</th>
                <th>选课开始时间</th>
                <th>选课结束时间</th>
                <th>课程开始时间</th>
                <th>课程结束时间</th>
                <th>学分</th>
                <th>课容量</th>
                <th>课程状态</th>
                <th>报名情况</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="c in courses">
                <td class="check" hidden="hidden" v-model="checkedCourses" :value="c.id"><input type="checkbox"></td>
                <td class="uneditable">{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.classRoom}}</td>
                <td>{{c.teacher}}</td>
                <td>{{c.courseStartTime | dateTime}}</td>
                <td>{{c.courseEndTime | dateTime}}</td>
                <td>{{c.classStartTime | dateTime}}</td>
                <td>{{c.classEndTime | dateTime}}</td>
                <td>{{c.score}}</td>
                <td class="uneditable">{{c.classCapacity}}</td>
                <td>{{nowDateTime | courseStatus(c.courseStartTime,c.courseEndTime,c.classStartTime)}}</td>
                <td><button>查看</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="12">
                    <button @click="toFirstPage">首页</button>
                    <button @click="toPrePage">上一页</button>
                    <span>{{pageNo}} / {{totalPage}}</span>
                    <button @click="toNextPage">下一页</button>
                    <button @click="toLastPage">尾页</button>
                    <span>跳转页码：<input style="width: 25px" v-model="qo.pageNo"></span>
                    <button @click="select">GO</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="module" id="addAndDel">
    <button>添加课程</button>
    <button id="delCheckBtn" @click="delCheck">删除课程</button>
    <button id="delDoBtn" hidden="hidden" @click="delDo">确认删除</button>
</div>

<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script>
    $(function () {
        Vue.filter('dateTime',function (value) {
            var dateTime = new Date(value);
            Y = dateTime.getFullYear();
            M = dateTime.getMonth()+1;
            d = dateTime.getDate();
            H = dateTime.getHours();
            m = dateTime.getMinutes();
            s = dateTime.getSeconds();
            if(M<10){
                M = "0"+M;
            }
            if(d<10){
                d = "0"+d;
            }
            if(H<10){
                H = "0"+H;
            }
            if(m<10){
                m = "0"+m;
            }
            if(s<10){
                s = "0"+s;
            }
            return Y+"-"+M+"-"+d+" "+H+":"+m+":"+s;
        });
        Vue.filter('courseStatus',function (value,t1,t2,t3) {
            if(value<t1){
                return "备课中";
            }
            if(value>=t1 && value<t2){
                return "选课中";
            }
            if(value>=t2 && value<t3){
                return "选课结束";
            }
            if(value>=t3){
                return "已结课";
            }
        })
    });
    var vm01 = new Vue({
        el:'#courseList',
        data:{
            qo:{
                pageNo:1,
                pageSize:5
            },
            courses:[],
            checkedCourses:[],
            pageNo:1,
            totalPage:1,
            nowDateTime:new Date()
        },
        methods:{
            select:function () {
                console.log(this.qo);
                axios({
                    method:"POST",
                    url:"selectBy.do",
                    data:this.qo
                }).then(function (res) {
                    if(res.data.emptyData){
                        alert("未查询到匹配的数据");
                    }
                    vm01.courses = res.data.dataList;
                    vm01.pageNo = res.data.page.pageNo;
                    vm01.totalPage = res.data.page.totalPage;
                }).catch(function (err) {
                    console.log(err);
                    alert("查询出错");
                });
            },
            clear:function () {
                this.qo = {pageNo:1,pageSize:5};
            },
            checkAll:function (event) {
                var _this = event.target;
                vm01.checkedCourses = [];
                if(_this.checked){
                    vm01.courses.forEach(e=>{
                        vm01.checkedCourses.push(e.id);
                    })
                }
            },
            delCheck:function () {
                $('#delCheckBtn').attr("hidden","hidden");
                $('#delDoBtn').removeAttr("hidden");
                $('.check').removeAttr("hidden");
            },
            delDo:function () {
                if(confirm("确认删除所选的课程？")){
                    console.log(this.checkedCourses);
                    axios({
                        method:"POST",
                        url:"delByArray.do",
                        data:this.checkedCourses
                    }).then(function (res) {
                        alert("成功删除"+res.data+"条数据");
                    }).catch(function (err) {
                        alert("删除出错："+err);
                    });
                }
                $('#delCheckBtn').removeAttr("hidden");
                $('#delDoBtn').attr("hidden","hidden");
                $('.check').attr("hidden","hidden");
                vm01.checkedCourses = [];
                vm01.select();
            },
            toFirstPage:function () {
                this.qo.pageNo = 1;
                this.select();
            },
            toPrePage:function () {
                if(this.qo.pageNo>1){
                    this.qo.pageNo = this.qo.pageNo-1;
                    this.select();
                }
            },
            toNextPage:function () {
                if((this.qo.pageNo+1)<=this.totalPage){
                    this.qo.pageNo = this.qo.pageNo+1;
                    this.select();
                }
            },
            toLastPage:function () {
                this.qo.pageNo = this.totalPage;
                this.select();
            }
        },
        created:function () {
            this.select();
        }
    });
</script>
</body>
</html>