<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程信息管理</title>
    <style>
        .module{
            margin-top: 15px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 5px;
            font-style: italic;
        }
        .uneditable{
            background-color: #d1d1d1;
        }
    </style>
</head>
<body>
<div class="module" id="logout">
    <!-- TODO -->
    <button>退出登录</button>
</div>
<div class="module" id="importAndExport">
    <!-- TODO -->
    <button>课程导出</button>
    <input type="file">
    <button>课程上传</button>
</div>
<div class="module" id="courseList">
    <div id="select">
        <label>课程名称 </label><input placeholder="课程名称关键字" v-model="qo.name"><br/>
        <label>授课教师 </label><input placeholder="授课教师关键字" v-model="qo.teacher"><br/>
        <label>开课时间 </label><input type="date" placeholder="开课时间-起" v-model="qo.classStartTime">
        <input type="date" placeholder="开课时间-止" v-model="qo.classEndTime"><br/>
        <input type="checkbox" v-model="qo.finished">显示已结束的课程<br/>
        <button @click="select">查询</button>
        <button @click="clear">重置</button>
    </div>
    <table border="2">
        <thead>
        <tr>
            <th class="check" hidden="hidden"><input type="checkbox" @change="checkAll">全选</th>
            <th class="radio" v-show="showRadio"></th>
            <th>ID</th>
            <th>名称</th>
            <th>教室</th>
            <th>授课老师</th>
            <th>选课开始时间</th>
            <th>选课结束时间</th>
            <th>课程开始时间</th>
            <th>课程结束时间</th>
            <th>学分</th>
            <th>课容量</th>
            <th>课程状态</th>
            <th>学员情况</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="c in courses">
            <td class="check" hidden="hidden"><input type="checkbox" v-model="checkedCourses" :value="c.id"></td>
            <td class="radio" v-show="showRadio"><input type="radio" name="updRadio" :value="c.id" @change="updChoose"></td>
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.classRoom}}</td>
            <td>{{c.teacher}}</td>
            <td>{{c.courseStartTime | dateTime}}</td>
            <td>{{c.courseEndTime | dateTime}}</td>
            <td>{{c.classStartTime | dateTime}}</td>
            <td>{{c.classEndTime | dateTime}}</td>
            <td>{{c.score}}</td>
            <td>{{c.classCapacity}}</td>
            <td>{{nowDateTime | courseStatus(c.courseStartTime,c.courseEndTime,c.classStartTime)}}</td>
            <td><button type="button" :data-cid="c.id" @click="toStuList">查看</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="12" style="text-align: center">
                <button @click="changePage(1)">首页</button>
                <button @click="changePage(qo.pageNo-1)">上一页</button>
                <span>{{page.pageNo}} / {{page.totalPage}}</span>
                <button @click="changePage(qo.pageNo+1)">下一页</button>
                <button @click="changePage(page.totalPage)">尾页</button>
                <span>跳转页码：<input style="width: 25px" v-model="qo.pageNo"></span>
                <button @click="select">GO</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div class="module" id="addAndDel">
    <div>
        <button id="delCheckBtn" @click="delCheck">删除课程</button>
        <button id="delDoBtn" hidden="hidden" @click="delDo">确认删除</button>
        <button id="delCancelBtn" hidden="hidden" @click="delCancel">取消</button><br/>
        <button class="module" @click="function(){showAddForm = !showAddForm;showUpdateForm = false}">{{showAddForm? "取消添加":"添加课程"}}</button>
        <button class="module" @click="updCheck">{{showUpdateForm? "取消更新":"更新课程"}}</button>
    </div>
    <div>
        <form id="addForm" v-show="showAddForm">
            <label>课程名称 </label><input id="name" v-model="addCourse.name" name="name"><br/>
            <label>上课教室 </label><input id="classRoom" v-model="addCourse.classRoom" name="classRoom"><br/>
            <label>授课老师 </label><input v-model="addCourse.teacher" name="teacher"><br/>
            <label>选课起止时间 </label><input id="t1" v-model="addCourse.courseStartTime" type="datetime-local" name="courseStartTime">
            <input v-model="addCourse.courseEndTime" type="datetime-local" name="courseEndTime"><br/>
            <label>上课起止时间 </label><input id="t2" v-model="addCourse.classStartTime" type="datetime-local" name="classStartTime">
            <input v-model="addCourse.classEndTime" type="datetime-local" name="classEndTime"><br/>
            <label>课程学分 </label><input v-model="addCourse.score" name="score"><br/>
            <label>课程容量 </label><input v-model="addCourse.classCapacity" name="rl"><br/>
            <div>
                <button id="saveBtn" type="button">保存</button>
                <button type="button" @click="function(){addCourse={} }">重置</button>
            </div>
        </form>
    </div>
    <div>
        <form id="updateForm" v-show="showUpdateForm">
            <label>课程ID </label><input style="background-color: #ddd" v-model="updCourse.id" name="id" readonly><span style="font-size: 2px;color: #1b2a28;font-style: italic">*课程ID不可更改</span><br/>
            <label>课程名称 </label><input v-model="updCourse.name" name="name" readonly><br/><span style="font-size: 2px;color: #1b2a28;font-style: italic">*课程名称不可更改</span><br/>
            <label>上课教室 </label><input v-model="updCourse.classRoom" name="classRoom"><br/>
            <label>授课老师 </label><input v-model="updCourse.teacher" name="teacher"><br/>
            <label>选课起止时间 </label><input id="t3" class="courseTime" v-model="updCourse.courseStartTime" type="datetime-local" name="courseStartTime">
            <input class="courseTime" v-model="updCourse.courseEndTime" type="datetime-local" name="courseEndTime"><span v-show="changeAble.course" style="font-size: 2px;color: #1b2a28;font-style: italic">*选课开始后不可更改选课时间</span><br/>
            <label>上课起止时间 </label><input id="t4" class="classTime" v-model="updCourse.classStartTime" type="datetime-local" name="classStartTime">
            <input class="classTime" v-model="updCourse.classEndTime" type="datetime-local" name="classEndTime"><span v-show="changeAble.class" style="font-size: 2px;color: #1b2a28;font-style: italic">*课程开始前1小时不可更改上课时间</span><br/>
            <label>课程学分 </label><input v-model="updCourse.score" name="score"><br/>
            <label>课程容量 </label><input style="background-color: #ddd" v-model="updCourse.classCapacity" name="rl" readonly><span style="font-size: 2px;color: #1b2a28;font-style: italic">*课程容量不可更改</span><br/>
            <div>
                <button id="updateBtn" type="button">更新</button>
                <button type="button" @click="function(){updCourse={}}">重置</button>
            </div>
        </form>
    </div>
    <div class="module">
        <form style="border: 1px;" id="emailForm" v-show="sendEmail">
            <label>标题</label><input v-model="emailNotify.title"><br/>
            <label>正文</label><textarea style="height: 400px;width: 600px" v-model="emailNotify.test"></textarea><br/>
            <button type="button" @click="sendDo">发送</button>
            <button type="button" @click="sendCancel">取消</button>
        </form>
    </div>
</div>

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/jquery.validate.js"></script>
<script>
    $(function () {
        Vue.filter('dateTime',function (value) {
            var dateTime = new Date(value);
            Y = dateTime.getFullYear();
            M = dateTime.getMonth()+1;
            d = dateTime.getDate();
            H = dateTime.getHours();
            m = dateTime.getMinutes();
            if(M<10){
                M = "0"+M;
            }
            if(d<10){
                d = "0"+d;
            }
            if(H<10){
                H = "0"+H;
            }
            if(m<10){
                m = "0"+m;
            }
            return Y+"-"+M+"-"+d+" "+H+":"+m;
        });
        Vue.filter('courseStatus',function (value,t1,t2,t3) {
            if(value<t1){
                return "备课中";
            }
            if(value>=t1 && value<t2){
                return "选课中";
            }
            if(value>=t2 && value<t3){
                return "选课结束";
            }
            if(value>=t3){
                return "已结课";
            }
        });
        $.validator.methods.compareDate = function (value,element,param) {
            var startTime = new Date($(param).val()).getTime();
            var endTime = new Date(value).getTime();
            return startTime<endTime;
        };
        $('#addForm').validate({
            rules:{
                name:{required:true},
                classRoom:{required:true},
                teacher:{required:true},
                courseStartTime:{required:true},
                courseEndTime:{
                    required:true,
                    compareDate:"#t1"
                },
                classStartTime:{required:true},
                classEndTime:{
                    required:true,
                    compareDate:"#t2"
                },
                score:{
                    required:true,
                    number:true,
                    min:0
                },
                rl:{
                    required:true,
                    number:true,
                    min:0
                }
            },
            messages:{
                name:{required:"不可为空"},
                classRoom:{required:"不可为空"},
                teacher:{required:"不可为空"},
                courseStartTime:{required:"不可为空"},
                courseEndTime:{
                    required:"不可为空",
                    compareDate:"结束时间不可早于开始时间"
                },
                classStartTime:{required:"不可为空"},
                classEndTime:{
                    required:"不可为空",
                    compareDate:"结束时间不可早于开始时间"
                },
                score:{
                    required:"不可为空",
                    number:"必须输入数字",
                    min:"不可小于0"
                },
                rl:{
                    required:"不可为空",
                    number:"必须输入数字",
                    min:"不可小于0"
                }
            }
        });
        $('#updateForm').validate({
            rules:{
                name:{required:true},
                classRoom:{required:true},
                teacher:{required:true},
                courseStartTime:{required:true},
                courseEndTime:{
                    required:true,
                    compareDate:"#t3"
                },
                classStartTime:{required:true},
                classEndTime:{
                    required:true,
                    compareDate:"#t4"
                },
                score:{
                    required:true,
                    number:true,
                    min:0
                },
                rl:{
                    required:true,
                    number:true,
                    min:0
                }
            },
            messages:{
                name:{required:"不可为空"},
                classRoom:{required:"不可为空"},
                teacher:{required:"不可为空"},
                courseStartTime:{required:"不可为空"},
                courseEndTime:{
                    required:"不可为空",
                    compareDate:"结束时间不可早于开始时间"
                },
                classStartTime:{required:"不可为空"},
                classEndTime:{
                    required:"不可为空",
                    compareDate:"结束时间不可早于开始时间"
                },
                score:{
                    required:"不可为空",
                    number:"必须输入数字",
                    min:"不可小于0"
                },
                rl:{
                    required:"不可为空",
                    number:"必须输入数字",
                    min:"不可小于0"
                }
            }
        });
        $('#saveBtn').on('click',function () {
            if($('#addForm').valid()){
                saveCourse();
            }
        });
        $('#updateBtn').on('click',function () {
            if($('#updateForm').valid()){
                updCourse();
            }
        });
        var saveCourse = function () {
            vm02.addCourse.courseStartTime = new Date(vm02.addCourse.courseStartTime).getTime();
            vm02.addCourse.courseEndTime = new Date(vm02.addCourse.courseEndTime).getTime();
            vm02.addCourse.classStartTime = new Date(vm02.addCourse.classStartTime).getTime();
            vm02.addCourse.classEndTime = new Date(vm02.addCourse.classEndTime).getTime();
            console.log(vm02.addCourse);
            console.log(vm02.addCourse.courseStartTime);
            axios({
                method:"POST",
                url:"saveCourse.do",
                data:vm02.addCourse
            }).then(function (res) {
                alert(res.data.message);
                vm02.showAddForm = false;
                vm02.addCourse = {};
                vm01.select();
            }).catch(function (err) {
                alert("保存出错："+err)
            });
        };
        var updCourse = function () {
            console.log(vm02.updCourse.courseStartTime);
            vm02.updCourse.courseStartTime = new Date(vm02.updCourse.courseStartTime).getTime();
            vm02.updCourse.courseEndTime = new Date(vm02.updCourse.courseEndTime).getTime();
            vm02.updCourse.classStartTime = new Date(vm02.updCourse.classStartTime).getTime();
            vm02.updCourse.classEndTime = new Date(vm02.updCourse.classEndTime).getTime();
            console.log(vm02.updCourse.courseStartTime);
            axios({
                method:"POST",
                url:"updateCourse.do",
                data:vm02.updCourse
            }).then(function (res) {
                alert(res.data.message);
                vm02.updCheck();
                vm01.select();
                if(confirm("是否邮件通知已选课的学员？")){
                    vm02.sendEmail = true;
                    console.log(oldValue);
                    console.log(vm02.updCourse);
                    var a = {name:vm02.updCourse.name};
                    for(var e1 in oldValue){
                        for(var e2 in vm02.updCourse){
                            if(e1+"" == e2+""){
                                if(oldValue[e1]+"" != vm02.updCourse[e2]+""){
                                    a[e2] = vm02.updCourse[e2];
                                }
                            }
                        }
                    }
                    console.log(a);
                    for(var e in a){
                        if(e+"" == "classRoom"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"上课教室改为："+a[e];
                        }
                        if(e+"" == "teacher"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"授课老师改为："+a[e];
                        }
                        if(e+"" == "courseStartTime"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"选课开始时间改为："+a[e];
                        }
                        if(e+"" == "courseEndTime"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"选课结束时间改为："+a[e];
                        }
                        if(e+"" == "classStartTime"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"上课开始时间改为："+a[e];
                        }
                        if(e+"" == "classEndTime"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"上课结束时间改为："+a[e];
                        }
                        if(e+"" == "score"){
                            vm02.emailNotify.test = vm02.emailNotify.test+"学分改为："+a[e];
                        }
                    }
                    vm02.emailNotify.id = vm02.updCourse.id;
                }else {
                    vm02.updCourse = {};
                }
            }).catch(function (err) {
                alert("更新出错："+err);
                vm02.updCourse.courseStartTime = vm01.dateToString(vm02.updCourse.courseStartTime);
                vm02.updCourse.courseEndTime = vm01.dateToString(vm02.updCourse.courseEndTime);
                vm02.updCourse.classStartTime = vm01.dateToString(vm02.updCourse.classStartTime);
                vm02.updCourse.classEndTime = vm01.dateToString(vm02.updCourse.classEndTime);
            })
        }
    });
    var oldValue = {};
    var vm01 = new Vue({
        el:'#courseList',
        data:{
            qo:{
                pageNo:1,
                pageSize:5,
                finished:false
            },
            courses:[],
            checkedCourses:[],
            page:{
                pageNo:1,
                totalPage:1,
            },
            nowDateTime:new Date(),
            showRadio:false
        },
        methods:{
            select:function () {
                $('#delCheckBtn').removeAttr("hidden");
                $('#delDoBtn').attr("hidden","hidden");
                $('#delCancelBtn').attr("hidden","hidden");
                $('.check').attr("hidden","hidden");
                this.checkedCourses = [];
                console.log(this.qo);
                axios({
                    method:"POST",
                    url:"selectBy.do",
                    data:this.qo
                }).then(function (res) {
                    if(res.data.emptyData){
                        alert("未查询到匹配的数据");
                    }
                    vm01.courses = res.data.dataList;
                    vm01.page.pageNo = res.data.page.pageNo;
                    vm01.page.totalPage = res.data.page.totalPage;
                }).catch(function (err) {
                    console.log(err);
                    alert("查询出错");
                });
            },
            clear:function () {
                this.qo = {pageNo:1,pageSize:5};
            },
            checkAll:function (event) {
                var _this = event.target;
                vm01.checkedCourses = [];
                if(_this.checked){
                    vm01.courses.forEach(e=>{
                        vm01.checkedCourses.push(e.id);
                    })
                }
            },
            changePage:function (page) {
                if(page>this.page.totalPage){
                    page = this.page.totalPage;
                }
                if(page<1){
                    page = 1;
                }
                this.qo.pageNo = page;
                this.select();
            },
            toStuList:function (event) {
                var id = $(event.target).data("cid");
                axios({
                    method:"GET",
                    url:"courseStudent.do?id="+id
                }).then(function (res) {
                    window.location.href="courseStudentList.html";
                }).catch(function (err) {
                    alert("加载出错："+err);
                });
            },
            dateToString:function (value) {
                var date = new Date(value);
                Y = date.getFullYear();
                M = date.getMonth()+1;
                d = date.getDate();
                H = date.getHours();
                m = date.getMinutes();
                if(M<10){
                    M = "0"+M;
                }
                if(d<10){
                    d = "0"+d;
                }
                if(H<10){
                    H = "0"+H;
                }
                if(m<10){
                    m = "0"+m;
                }
                return Y+"-"+M+"-"+d+"T"+H+":"+m;
            },
            updChoose:function (event) {
                oldValue = {};
                vm02.changeAble = {course:false,class:false};
                $('.courseTime').removeAttr("readonly");
                $('.courseTime').removeAttr("style");
                $('.classTime').removeAttr("readonly");
                $('.classTime').removeAttr("style");
                vm02.updCourse = {};
                var id = $(event.target).val();
                console.log(id);
                var a = {};
                $.each($(vm01.courses),function (index,element) {
                    if(element.id == id){
                        $.extend(a,element);
                        $.extend(oldValue,element);
                    }
                });
                vm02.updCourse = a;
                if(this.nowDateTime>=vm02.updCourse.courseStartTime){
                    $('.courseTime').attr("readonly","readonly");
                    $('.courseTime').attr("style","background-color: #ddd");
                    vm02.changeAble.course = true;
                }
                if(this.nowDateTime+3600000>=vm02.updCourse.classStartTime){
                    $('.classTime').attr("readonly","readonly");
                    $('.classTime').attr("style","background-color: #ddd");
                    vm02.changeAble.class = true;
                }
                vm02.updCourse.courseStartTime = this.dateToString(vm02.updCourse.courseStartTime);
                vm02.updCourse.courseEndTime = this.dateToString(vm02.updCourse.courseEndTime);
                vm02.updCourse.classStartTime = this.dateToString(vm02.updCourse.classStartTime);
                vm02.updCourse.classEndTime = this.dateToString(vm02.updCourse.classEndTime);
            }
        },
        created:function () {
            this.select();
        }
    });
    var vm02 = new Vue({
        el:'#addAndDel',
        data:{
            addCourse:{},
            updCourse:{},
            showAddForm:false,
            showUpdateForm:false,
            changeAble:{
                course:false,
                class:false
            },
            sendEmail:false,
            emailNotify:{title:"课程变动通知",test:"您好，您所选择的课程发生变动："}
        },
        methods:{
            delCheck:function () {
                $('#delCheckBtn').attr("hidden","hidden");
                $('#delDoBtn').removeAttr("hidden");
                $('#delCancelBtn').removeAttr("hidden");
                $('.check').removeAttr("hidden");
            },
            delDo:function () {
                if(vm01.checkedCourses.length == 0){
                    alert("未选中任何课程");
                }else {
                    if(confirm("确认删除所选的课程？")){
                        console.log(vm01.checkedCourses);
                        axios({
                            method:"POST",
                            url:"delByIds.do",
                            data:vm01.checkedCourses
                        }).then(function (res) {
                            alert(res.data.message);
                            vm01.select();
                        }).catch(function (err) {
                            alert("删除出错："+err);
                        });
                    }
                    $('#delCheckBtn').removeAttr("hidden");
                    $('#delDoBtn').attr("hidden","hidden");
                    $('#delCancelBtn').attr("hidden","hidden");
                    $('.check').attr("hidden","hidden");
                    vm01.checkedCourses = [];
                }
            },
            delCancel:function () {
                $('#delCheckBtn').removeAttr("hidden");
                $('#delDoBtn').attr("hidden","hidden");
                $('#delCancelBtn').attr("hidden","hidden");
                $('.check').attr("hidden","hidden");
                vm01.checkedCourses = [];
            },
            updCheck:function(){
                this.showUpdateForm = !this.showUpdateForm;
                this.showAddForm = false;
                vm01.showRadio = this.showUpdateForm;
            },
            sendDo:function () {

            },
            sendCancel:function () {

            }
        }
    });
</script>
</body>
</html>