<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="my-div">
    <p>超出选课时间范围不予选课和退课</p>
    <button type="button" :disabled="selectId==0" @click="selectCourse">选课</button>
    <button type="button" @click="toPrivateInfo">返回个人信息</button>
    <table border="1" class="container">
        <thead>
        <tr>
            <th>序号</th>
            <th>课程名称</th>
            <th>教室</th>
            <th>教师</th>
            <th>选课开始时间</th>
            <th>选课结束时间</th>
            <th>上课时间</th>
            <th>下课时间</th>
            <th>学分</th>
            <th>教室容量</th>
            <th>选择状态</th>
            <!--<th><input type="checkbox" @change="ch"></th>-->
            <th>选课</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(c,index) in courseList">
            <td>{{index+1}}</td>
            <td>{{c.name}}</td>
            <td>{{c.classRoom}}</td>
            <td>{{c.teacher}}</td>
            <td>{{c.courseStartTimeStr}}</td>
            <td>{{c.courseEndTimeStr}}</td>
            <td>{{c.classStartTimeStr}}</td>
            <td>{{c.classEndTimeStr}}</td>
            <td>{{c.score}}</td>
            <td>{{c.classCapacity}}</td>
            <td>{{c.chooseStatusStr}}</td>
            <td>
               <input type="radio" v-model="selectId" v-if="c.isChoose" :value="c.id"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
    <span>第{{page.pageNo}}页/共{{page.totalPage}}页</span>
    <span>第{{page.firstResultNum+1}}条~第{{page.lastResultNum}}条/共{{page.totalQuantity}}条</span>
    </div>
    <div><button @click="setPageNo(1)">首页</button>
        <button @click="setPageNo(qo.pageNo-1)">上一页</button>
        <input v-model="qo.pageNo" /><button @click="setPageNo(qo.pageNo)" type="button">跳转</button>
        <button @click="setPageNo(qo.pageNo+1)">下一页</button>
        <button @click="setPageNo(page.totalPage)">尾页</button>
    </div>

</div>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../css/bootstrap.css"></script>
<script>
    var vm = new Vue({
        el: "#my-div",
        data: {
            selectId:0,
            qo:{
                pageNo:1,
                pageSize:3
            },
            courseList:[],
            page:{
                pageNo:1,
                pageSize:3
            },
        },
        created: function () {
            this.showData();
        },
        methods: {
            showData: function () {
                axios({
                    method: "POST",
                    url: '../student/listAllCourse.do',
                    data:this.qo
                }).then((res) => {
                    this.courseList = res.data.dataList;
                    this.page=res.data.page;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            setPageNo:function (n) {
                if (n > this.page.totalPage) {
                    n = this.page.totalPage;
                }
                if (n < 1) {
                    n = 1;
                }
                this.qo.pageNo = n;
                this.showData();

            },
            selectCourse:function () {
                axios({
                    method: "GET",
                    url: '../student/chooseCourse.do?id='+this.selectId
                }).then((res) => {
                    var sta=res.data;
                    if(sta==1){
                        alert("选课成功");
                        this.showData();
                    }
                    else if(sta==2)
                    {
                        var flag=confirm("课容量已满，是否选择排队？");
                        if(flag)
                            this.getInLine();
                        else
                            this.showData();
                    }
                    else if(sta==3)
                    {
                        alert("已超学分上限");
                        this.showData();
                    }
                    else
                        alert("请稍候尝试");

                }).catch(function (err) {
                    console.log(err);
                    alert("选课失败，请稍候尝试");
                });
            },
            getInLine:function () {
                axios({
                    method: "GET",
                    url: '../student/getInLine.do?id='+this.selectId
                }).then((res) => {
                    if(res.data==1){
                        alert("排队成功");
                        this.showData();
                    }
                }).catch(function (err) {
                    console.log(err);
                    alert("排队失败，请稍候尝试");
                });
            },
            toPrivateInfo:function () {
                window.location.href="../student/stuInfo.html";
            }
        }
    });
</script>
</body>
</html>